body{
	background-color: #232323;
	margin:0;
	font-family: "Helvetica", "Arial";
}

h1 {
	text-align: center;
	line-height: 1.1;
	color: white;
	background: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 10px 0;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1.25px;
	font-size: inherit;
	transition: all 0.33s;
	--webkit-transition: background 0.5s;
	--moz-transition: background 0.5s;
}

button:hover{
	color:white;
	background:steelblue;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.5s;
	--webkit-transition: background 0.5s;
	--moz-transition: background 0.5s;
}

#container {
	margin: 15px auto;
	max-width: 600px;
}

#stripe{
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}

.selectedButton{
	color:white;
	background:steelblue;
}

#colorDisplay{
	font-size: 200%;
}

#message {
	display: inline-block;
	width: 20%;
}